/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: arial;
}

/* utilities*/

.debug{
  border: 1px solid firebrick;
  background-color: bisque;
}

/* HEADER */

header{
  height: 55px;
  background-color: black;
  padding: 5px;
}

header ul{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  list-style: none;
}

header ul li,
.span-style{
  background-color: #4A4A4A;
  padding: 5px;
  border-radius: 8px;
  font-size: .8rem;
  font-weight: bold;
  color: white;
}

/* MAIN */

main{
  height: calc(100vh - 130px);
  overflow: auto;
  padding: 20px;
  background-color: black;
}

.main-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

main .main-wrapper .card{
  display: inline-block;
  position: relative;

  width: 240px;
  height: 140px;
  margin-bottom: 10px;
}

main .main-wrapper .card .tag{
  position: absolute;
  bottom: 0;
  left:0;
  border-radius: 0;
  background-color: rgba(74, 74, 74, .5);
  color: white;
  font-weight: normal;
}

main .main-wrapper .card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* FOOTER-MENU */

.footer-menu{ 
  min-width: 940px;
  height: 75px;
  background-color:#222222;
  display: flex;
  justify-content: space-between;
}

#left-menu,
#center-menu {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  height: 100%;
  padding: 10px;
}

.item-menu{
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.item-menu .fa-solid{
  font-size: 30px;
  padding-bottom: 5px;
  text-align: center;
}

.item-menu span{
  font-size: .9rem;
  font-weight: 400;
}

#left-menu .item-menu,
#center-menu .item-menu:nth-child(4){
  padding-right: 40px;
}

#left-menu .item-menu::after,
#center-menu .item-menu:nth-child(4)::after{
  content: '\f077';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  display: block;
  position: absolute;
  font-size: .8rem;
  left: 80%;
  bottom: 50%;
}

.btn{
  color: red;
  background-color: #4A4A4A;  
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.active{
  color: #4AC700;
}